<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccess​Token</key>
	<string>pk​.ey​J1​Ijoib3​No​ZWxvd​CIs​Im​Ei​Oi​Jjb​W16​OTY3​NDEw​MDY5​Mn​Jwe​W82d​Xdya​G44​In0​.27cg​Va​Bc​Mg​Izoe​Us​F​-​Uf​QQ</string>
</dict>
</plist>
